//
@bg-col: #333;
@twitter-col: #3aafc2;

body {
	background: @bg-col;
}

section {
	max-width: 600px;
	margin: 12.5em auto;
	display: block;
	padding: 2em;
	height: 30em;
	width: 100%;
	// background-color: red; // just for debugging
}

.social-share {
	width: 72px;
	height: 54px;
	display: inline-block;
	background: @twitter-col;
	border-radius: 3px;
}