body {
  background: #333333;
}
section {
  max-width: 600px;
  margin: 12.5em auto;
  display: block;
  padding: 2em;
  height: 30em;
  width: 100%;
}
.social-share {
  width: 72px;
  height: 54px;
  display: inline-block;
  background: #3aafc2;
  border-radius: 3px;
}
